[submodule "deps/fmt"]
	path = deps/fmt
	url = https://github.com/fmtlib/fmt.git
[submodule "deps/googletest"]
	path = deps/googletest
	url = https://github.com/abseil/googletest.git
[submodule "deps/assimp"]
	path = deps/assimp
	url = https://github.com/assimp/assimp
[submodule "deps/fallback"]
	path = deps/fallback
	url = https://github.com/TeamWisp/DXR-Fallback-Layer.git
